@import url('https://fonts.cdnfonts.com/css/apercu');
@import url('https://fonts.cdnfonts.com/css/abigate-desgo');

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

header {
    width: 100%;
    display: inline-block;
    margin-top: 1vw;
    margin-left: 1vw;
}

header h4 {
    position: absolute;
    margin-left:3vw;
    margin-top: 2.1vw;
    font-size: 1.6vw;
    color: #222222;
    font-family: "apercu", sans-serif;
    z-index: 3;
    display: inline-block;
}

.logoleft {
    margin-left: 2vw;
    margin-top: 1.8vw;
    display: inline-block;
}

.links {
    word-spacing: 2.8vw;
    text-align: center;
    margin-left: 71vw;
    margin-top: -2.5vw;
    color: #222222;
}

.link {
    font-weight: bold;
    color: #222222;
    font-size: 1vw;
    font-family: "apercu", sans-serif;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.link:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 0px;
    background-color: #222222;
    bottom: 0;
    left: 0;
    transform-origin: top;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
    transform-origin: top;
    transform: scaleX(1);
  }

  .linksresponsiv {
    display: none;
}


.article {
    margin-top: 10vw;
}

.win1a {
    color: #222222;
    font-family: "apercu", sans-serif;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: 5vw;   
}

.win1b {
    color: #222222;
    font-family: "apercu", sans-serif;
    text-align: left;
    margin-left: 18vw;
    margin-top: -4vw;
    font-size: 1.5vw;   
}

.win1c {
    text-align: left;
    color: #222222;
    font-family: "apercu", sans-serif;
    font-size: 1.5vw;
    margin-left: 18vw;
    margin-right: 30vw;
    justify-content: left;
    text-align: left;
    margin-top: 5vw;
}

.topbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-left: 4vw;
    margin-top: 1.3vw;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 2px solid #000;
    border-radius: 4px;
    font-family: "apercu", sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: none;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 20px 37px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.topbutton:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}

.topbutton:focus-visible{
    outline-offset: 1px;
}

.arrowtitle {
    position: absolute;
    margin-top: -7.5vw;
    margin-left: 77vw;
    transform: rotate(134.5deg);
}

.cv {
    width: 60%;
    margin-top: 6vw;
    margin-bottom: 10vw;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin-left: 21vw;
}

.linkcv {
    position: absolute;
    color: #222222;
    font-family: "apercu", sans-serif;
    font: bold;
    font-size: 1.5vw;
    margin-left: 45vw;
    margin-top: 4vw;
    margin-bottom: -6vw;
}

/*///////////////////////////////////////////////////////////////////////////   MEDIA QUERIES   ///////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 600px) {
    
    header {
        display: none;
    }
    
    header h4 {
        display: none;
    }
    
    .logoleft {
        display: none;
    }

    .links {
      display: none;
  }
  
    .link {
     display: none;
  }
  
    .link:before{
      display: none;
  }
  
    .link:hover::before {
      display: none;
  }

  .linksresponsiv {
    display: inline;
    word-spacing: 2.8vw;
    text-align: center;
    margin-top: -15vw;
    margin-left: 29vw;
    color: #222222;
    position: absolute;
}

   .linkresponsiv {
    font-weight: bold;
    color: #222222;
    font-size: 2.2vw;
    font-family: "apercu", sans-serif;
}

.article {
    margin-top: 20vw;
}

.win1a {
    color: #222222;
    font-family: "apercu", sans-serif;
    text-align: center;
    font-size: 6vw;   
}

.win1b {
    color: #222222;
    font-family: "apercu", sans-serif;
    text-align: left;
    margin-left: 18vw;
    margin-top: -4vw;
    font-size: 2vw;   
}

.win1c {
    text-align: left;
    color: #222222;
    font-family: "apercu", sans-serif;
    font-size: 2vw;
    margin-left: 18vw;
    margin-right: 15vw;
    justify-content: left;
    text-align: left;
    margin-top: 5vw;
}

  .topbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-left: 4vw;
    margin-top: 1.3vw;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 4px;
    font-family: "apercu", sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: none;
    flex-shrink: 0;
    font-size: 8px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 10px 18px;
    text-decoration: none;
    /* text-overflow: ellipsis; */
    /* transition: all .14s ease-out; */
    white-space: nowrap;
  }

  .arrowtitle {
    position: absolute;
    margin-top: -8.5vw;
    margin-left: 82vw;
    transform: rotate(134.5deg);
}

.cv {
    width: 60%;
    margin-top: 10vw;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin-left: 21vw;
}

.linkcv {
    position: absolute;
    color: #222222;
    font-family: "apercu", sans-serif;
    font: bold;
    font-size: 2vw;
    margin-left: 43vw;
    margin-top: 7vw;
}
  
  }


