@import url('https://fonts.cdnfonts.com/css/apercu');
@import url('https://fonts.cdnfonts.com/css/abigate-desgo');

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

.logoleft {
    margin-left: 1vw;
    display: inline-block;
}

.icons {
    margin-top: 9.4vw;
}

.icon1 {
    margin-left: 2vw;
    line-height: 4.2vw;
}

.icon1:hover {
    -webkit-filter: blur(3px);
	filter: blur(3px);
    cursor: pointer;
    transition:all 0.7s;
}

.icon2 {
    line-height: 4.2vw;
    margin-left: 2vw;
}

.icon2:hover {
    -webkit-filter: blur(3px);
	filter: blur(3px);
    cursor: pointer;
    transition:all 0.7s;
}


.icon3 {
    margin-left: 1.3vw;
    line-height: 4.2vw;
}

.icon3:hover {
    -webkit-filter: blur(3px);
	filter: blur(3px);
    cursor: pointer;
    transition:all 0.7s;
}


.icon4 {
    line-height: 4.2vw;
    margin-left: 2.1vw;
}

.icon4:hover {
    -webkit-filter: blur(3px);
	filter: blur(3px);
    cursor: pointer;
    transition:all 0.7s;
}

.icon5 {
    line-height: 7.2vw;
    margin-left: 2.2vw;
}

.icon5:hover {
    -webkit-filter: blur(3px);
	filter: blur(3px);
    cursor: pointer;
    transition:all 0.7s;
}

h1 {
    color: #222222;
    font-family: "apercu", sans-serif;
    text-align: left;
    margin-left: 9.5vw;
    margin-top: -29vw;
    font-size: 5vw;   
}

h5 {
    color: #222222;
    font-family: "apercu", sans-serif;
    text-align: left;
    margin-left: 18vw;
    margin-top: -3.5vw;
    font-size: 1.5vw;   
}

p {
    text-align: left;
    color: #222222;
    font-family: "apercu", sans-serif;
    font-size: 1.5vw;
    margin-left: 18vw;
    margin-right: 20vw;
    justify-content: left;
    text-align: left;
}

.imageillu {
    margin-left: 18vw;
}

.videotrappist {
    margin-left: 18vw;
    width: 50%;
}